<div class="ui basic segment">
    <h1 class="ui header">Register to vote</h1>
</div>
<div class="ui basic segment">
    <form class="ui form" id="register-party">
        <div class="six wide field">
            <label>Your name e.g. 'Donald'</label>
            <input type="text" name="name">
        </div>
        <button class="ui orange button" type="submit">
        Submit
        </button>
    </form>
</div>
<script>
var container =  $('.ui.container').hide();
// Check if the user already created a company.
if ( localStorage.getItem("blockchain-vote-party-id") != null ) {
    window.location = "/party/" + localStorage.getItem("blockchain-vote-party-id");
}
container.show();
var registerPartyForm = $('#register-party');
registerPartyForm.one('submit', function(e){
    e.preventDefault();
    registerPartyForm.addClass('loading');
    var name = $('input[name=name]').val(),
    uuid = guid();
    var formData = {
        'partyId'       :   uuid,
        'name'          :   name,
        'voter'         :   true,
        'candidate'     :   false,
        'candidateUrl'  :   ''
    };
    $.ajax({
        type        : 'POST',
        url         : 'api/party/create',
        data        : formData,
        encode      : true
    }).done( function(data) {  // using the done promise callback
        if (data.state === 'success') {
            localStorage.setItem("blockchain-vote-party-id", uuid);
            localStorage.setItem("blockchain-vote-party-name", name);
            wait(DELAY);
            window.location = "/party/" + uuid;
        }
    });
});
</script>
