<!doctype html>
<html lang="en">
	<head>
		<% include ./components/page-head %>
	</head>
	<body>
		<div class="ui container">
			<div class="ui secondary  menu">
				<div class="right menu">
					<a class="ui header item">
						<i class="orange checkmark icon"></i>
						ballot
					</a>
				</div>
			</div>
			<% switch (page) {
			case 'register': %>
			<%- include('./pages/register'); %>
			<% break;
			case 'party': %>
			<%- include('./pages/party'); %>
			<% break;
			case 'facilitator': %>
			<%- include('./pages/facilitator'); %>
			<% break;
			case 'leaderboard': %>
			<%- include('./pages/leaderboard'); %>
			<% } %>
			<div id="footer-padding"></div>
			<% include ./components/page-chainfooter %>
		</div>
	</body>
</html>
