<title>ballot</title>

<meta charset="UTF-8">
<!-- Fix Viewport on mobile devices -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>

<link rel="stylesheet" href="/css/semantic.min.2.2.4.css">
<script type="text/javascript" src="/js/semantic.min.2.2.4.js"></script>
<!-- DECODED SPECIFIC FILES -->
<link rel="stylesheet" href="/css/decoded.css">
<script type="text/javascript" src="/js/decoded-global.js"></script>
